<div class="container">
  <div class="result-area">
    <div class="atm-form">
      <div class="form-inline">
        <div class="form-group">
          <label>Enter Amount:</label>
          <input class="form-control" type="text" [(ngModel)]="amount" />
        </div>
        <div class="form-group">
          <button
            (click)="requiredCurrency(amount)"
            type="submit"
            class="btn btn-submit"
          >
            submit
          </button>
        </div>
      </div>
    </div>
    <div class="output">
      <h4>Available Notes:</h4>
      <ul>
        <li *ngFor="let currency of availableNotes">
          {{ currency }}<span></span>
        </li>
      </ul>
    </div>
    <div class="result" *ngIf="requiredCurrencies.length">
      <h4>Required Notes:</h4>
      <ul>
        <li *ngFor="let requiredCurrency of requiredCurrencies">
          {{ requiredCurrency }}
        </li>
      </ul>
    </div>
  </div>
</div>
